/*  Login Form  */

.login-info{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: url('images/thumb_victoria2.jpg');
    background-size: cover;
}

.login-form {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

form h2{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 10px;
}