/* Register Form Design */

.register-info{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 180vh;
    background: url('images/thumb_victoria2.jpg');
    background-size: cover;
}

.register-form{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%,-50%); 
    background: #fff;
    padding: 50px 60px 70px;
    text-align: left;
}

.register-form h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #3c00a0;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}