<<<<<<< HEAD
.fa-house{
    color: aliceblue;
}

.custom-height {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}
  

body.register-page {
    background-color: #3498db !important;
    color: #fff;
}
  
  
=======
.fa-house{
    color: aliceblue;
}

.custom-height {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}
  

body.register-page {
    background-color: #3498db !important;
    color: #fff;
}
  
  
>>>>>>> 246a15c096a35ade5f083b3e0c02ceefe2eca41b
  