*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/*   This is for the Nav-Bar   */
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
    color: rgba(255, 166, 0, 0.63);
}

#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/*  Body is down here  */

.intro{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: url('images/victoria_1.jpg');
    background-size: cover;
    position: relative;
    display: grid;
    gap: 2;
    color: white;
}

section{
    padding: 10% 19%;
}

.intro-text{
    background-color: rgba(0, 0, 0, 0.219);
    padding: 20px;
    border-radius: 20px;
}

/* Footer Design is Here  */

footer{
    width: 100%;
    background: #111;
    color: white;
    flex-shrink: 0;
    margin-top: auto;
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 1.123rem;
    font-weight: 600;
    text-transform: uppercase;
}

.content{
    margin: 20px 0 0 0;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a i{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.left .content .social a i:hover{
    background: #f12020;
}